 
    /* .news{
      color: rgb(240, 131, 54);
    } */
    



    .colorbtn{
      background-color: rgb(242, 63, 63);
      border: none;
    }
    .boxes img{
        width: 7rem;
    }
